body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image:url(images/Untitled-3-05.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "JustLettersMedium";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}
.white {
  border: 1px solid black;
  width: calc(100% / 8);
  padding-bottom: calc(100% / 12);
  background-color: white;
  float: left;
  box-sizing: border-box;
  position:relative;
}

.black {
  border: 1px solid black;
  width: calc(100% / 8);
  padding-bottom: calc(100% / 12);
  background-color: #303030;
  float: left;
  box-sizing: border-box;
  position:relative;
}

#footer {
  border: solid 1px;
  padding: 10px;
  margin: 10px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: deepskyblue;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: deepskyblue;
  text-align: center;
  z-index: 10;
  
}

.chessboard {
  width: 100%;
  margin-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  box-sizing: border-box;
}

.piece {
  position:absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  text-align: center;
}

.piece-image {
  height: 90%;
}


 
